<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC
   "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
   "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <display-name>Shailendra Verma's Web Site</display-name>

    <context-param>
        <param-name>RELOAD_TIME_IN_MIN</param-name>
        <param-value>30</param-value>
    </context-param>

    <context-param>
        <param-name>CHECK_FOR_EVENTS_IN_HRS</param-name>
        <param-value>24</param-value>
    </context-param>

    <context-param>
        <param-name>LOG_FILE</param-name>
        <param-value>/WEB-INF/resources/logs/svws.log</param-value>
    </context-param>

    <context-param>
        <param-name>DB_PROPERTIES</param-name>
        <param-value>/WEB-INF/resources/properties/db.properties</param-value>
    </context-param>

    <context-param>
        <param-name>EVENT_PROPERTIES</param-name>
        <param-value>/WEB-INF/resources/properties/events.properties</param-value>
    </context-param>

    <context-param>
        <param-name>EMAIL_PROPERTIES</param-name>
        <param-value>/WEB-INF/resources/properties/email.properties</param-value>
    </context-param>

    <context-param>
        <param-name>GREETING_EMAIL_SOURCE</param-name>
        <param-value>/WEB-INF/resources/properties/GreetingMessage.txt</param-value>
    </context-param>

    <context-param>
        <param-name>ON_DAY_GREETING_EMAIL_SOURCE</param-name>
        <param-value>/WEB-INF/resources/properties/OnDayGreetingMessage.txt</param-value>
    </context-param>

    <context-param>
        <param-name>DAYS_BEFORE_EVENT_FOR_NOTIFICATION</param-name>
        <param-value>4</param-value>
    </context-param>

    <context-param>
        <param-name>ENGLISH_FACTS_SRC</param-name>
        <param-value>/WEB-INF/resources/source/english-facts</param-value>
    </context-param>

    <context-param>
        <param-name>POETRY_SRC</param-name>
        <param-value>/WEB-INF/resources/source/poetry</param-value>
    </context-param>

    <context-param>
        <param-name>DID_YOU_KNOW_SRC</param-name>
        <param-value>/WEB-INF/resources/source/did-you-know</param-value>
    </context-param>

    <filter>
        <filter-name>SecurityFilter</filter-name>
        <description>This filter is responsible for user-authentication and basic session management.</description>
        <filter-class>com.svws.web.SecurityFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/SVWSServlet/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>com.svws.web.SessionManager</listener-class>
    </listener>

    <listener>
        <listener-class>com.svws.common.BasicContextManager</listener-class>
    </listener>

    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>com.svws.web.ControllerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/SVWSServlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>

    <taglib>
        <taglib-uri>http://www.SVWS.com/taglib/svWebSite</taglib-uri>
        <taglib-location>/WEB-INF/tld/svWebSite.tld</taglib-location>
    </taglib>
</web-app>
